@media (max-width: 1200px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 640px) {
  #header {
    .header {
      flex-direction: column;
      gap: 15px;
      .nav-header {
        display: flex;
        flex-direction: column;
        nav {
          flex-direction: column;
          align-items: center;
          gap: 10px;
        }
      }
    }
  }
  #main {
    .main {
      flex-direction: column;
      .text-main {
        align-items: center;
        text-align: center;
        gap: 20px;
      }
    }
  }
  #main-2 {
    .main-2 {
      flex-direction: column-reverse;
      .text-cards {
        .card-1 {
          align-items: center;
          text-align: center;
          gap: 15px;
        }
      }
    }
  }
  #main-3 {
    .main-3 {
      .img-family {
        position: relative;
        .img-son1 {
          max-width: 1200px;
          width: 100%;
          height: clamp(10.375rem, 9.602rem + 3.86vw, 12.5rem);
        }
        .img-son2 {
          display: flex;
          align-items: center;
          justify-content: center;
          max-width: 200px;
          width: 100%;
          position: absolute;
          left: 50px;
        }
        .img-son3 {
          display: flex;
          align-items: center;
          justify-content: center;
          max-width: 200px;
          width: 100%;
          position: absolute;
          right: 85px;
          top: 65px;
        }
        .img-son4 {
          max-width: 140px;
          width: 100%;
          position: absolute;
          top: 123px;
          right: 110px;
        }
      }
      .img-main-3 {
        flex-direction: column;
        text-align: center;
      }
    }
  }
  #last {
    .last {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .mini-text {
        display: flex;
        flex-direction: column-reverse;
        gap: 25px;
        .div-texxt {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
      .colors {
        position: relative;
        .pink2 {
          max-width: 600px;
          width: 100%;
          height: clamp(11rem, 10.455rem + 2.73vw, 12.5rem);
        }
        .pink3 {
          position: absolute;
          max-width: 200px;
          width: 100%;
          top: clamp(0.688rem, 0.483rem + 1.02vw, 1.25rem);
          left: clamp(3.813rem, 3.267rem + 2.73vw, 5.313rem);
          display: flex;
          align-items: center;
        }
        .pink4 {
          position: absolute;
          max-width: 200px;
          width: 100%;
          top: clamp(3.75rem, 3.295rem + 2.27vw, 5rem);
          left: clamp(3.625rem, 3.574rem + 0.24vw, 3.75rem);
          display: flex;
          align-items: center;
        }
        .pink5 {
          position: absolute;
          max-width: 100px;
          width: 100%;
          bottom: clamp(2.688rem, 2.25rem + 2vw, 3.75rem);
          left: clamp(7.063rem, 6.882rem + 0.82vw, 7.5rem);
        }
        .pink6 {
          position: absolute;
          max-width: 100px;
          width: 100%;
          bottom: clamp(0.5rem, 0.191rem + 1.41vw, 1.25rem);
          left: clamp(7.063rem, 6.882rem + 0.82vw, 7.5rem);
        }
        .pink7 {
          display: none;
        }
      }
    }
  }
  #footer {
    .footer {
      display: flex;
      justify-content: center;
      text-align: center;
      p {
        max-width: 250px;
        width: 100%;
      }
    }
  }
}
